$blue: #00257A;
$darkFont: #343434;
$lightGreyFont: #999999;
$red: #D62839;

@mixin backgroundImage($url, $size, $position) {
    display: block;
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}

@mixin landscape-mobile {
    @media (min-width: 400px) and (max-width: 900px) and (min-height: 300px) and (max-height: 414px) and (orientation: landscape) {@content;}
    // @media (max-width: 896px) and (min-aspect-ratio: 13/9) { @content; }
}
@mixin phone-only {
    @media (max-width: 599px) and (orientation: portrait) { @content; }
}
@mixin huaweip90 {
    @media (min-width: 323px) and (orientation: portrait) { @content; }
}
@mixin iphone678 {
    @media (min-width: 375px) and (orientation: portrait) { @content; }
}
@mixin iphone678plus {
    @media (min-width: 414px) and (orientation: portrait) { @content; }
}
@mixin tablet-portrait {
    @media (min-width: 768px) { @content; }
}
@mixin tablet-landscape {
    @media (min-width: 1024px) { @content; }
}
@mixin desktop {
    @media (min-width: 1240px) { @content; }
}
@mixin med-desktop {
    @media (min-width: 1440px) { @content; }
}
@mixin big-desktop {
    @media (min-width: 1680px) { @content; }
}
  
